@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  background-color: #ff79ab;
  top: 0;
  height: 30%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.piglatin {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: white;
}

.translate {
  color: rgb(95, 99, 104);
  font-family: "Roboto", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}