@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  background-color: #ff79ab;
  top: 0;
  height: 30%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.piglatin {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  color: white;
}

.translate {
  color: rgb(95, 99, 104);
  font-family: "Roboto", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

.boxes {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 70%;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

h2 {
  font-family: "Roboto", arial, sans-serif;
  font-size: 18px;
  font-weight: 250;
  padding: 0.3rem 0;
}

.lang-one {
  color: rgb(26, 115, 232);
}

.lang-two {
  color: #ff79ab;
}

textarea {
  resize: none;
  width: 100%;
}

.output {
  background-color: #f5f5f5;
}

.text-block {
  padding: 5px;
  min-height: 164px;
  font-size: 24px;
  border: 1px solid #ccc;
  color: rgb(60,64,67);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.box {
  width: 40%;
  height: auto;
  min-height: 3rem;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  color: rgb(95, 99, 104);
}

button:hover {
  background-color: rgba(198, 198, 198, 0.272);
}

button:active {
  background-color: rgba(198, 198, 198, 0.571);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0rem 0.5rem;
}

.char-count {
  color: rgb(95,99,104);
  font-size: 12px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}